* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    background-color: red;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
}
nav ul {
    display:flex;
    list-style-type: none;
    gap: 1rem;
}
nav a {
    text-decoration: none;
}