header {
    background-image: url(img/games.jpg);
    height: 35vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 24px;
    color: rgb(254, 254, 254);
    font-weight: bold;
    font-style: italic;
}

h2{
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}

h3{
    font-size: 16px;
    color: teal;
    font-weight: bold;
}

p{
    color: #000000;
}

.inleiding {
    font-weight: bold;
}

a {
    color: #8A2BE2;
}

.link {
    text-decoration: none;
}

img{
    width: 50vw;
}

article{
    border: 2px solid rgb(20, 44, 223);
    border-radius: 12px;
    border-left-width: 15px;
    padding: 5px;
}